:root {
  --main-accent-color: #0083e8;
  --default-opacity: 0.7;
}

html { 
  font-size: 0.65rem; 
  height: 100%;
}

.btn-front {
  font-size: 2rem; 
}

@media (min-width: 768px) {
  html { 
    font-size: 0.85rem; 
  }
  .btn-front {
    font-size: 1.5rem; 
  }
}
@media (min-width: 1080px) {
  html { 
    font-size: 1rem; 
  }
  .btn-front {
    font-size: 1.2rem; 
  }
}
@media (min-width: 1440px) {
  html { 
    font-size: 1.2rem; 
  }
  .btn-front {
    font-size: 1.2rem; 
  }
}
body {
  background: url('../images/background.jpg');
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
}

footer {
    text-align: center;
    padding: 5px 0 5px;
/*    background-color: rgb(243, 245, 248);*/
    background-color: dimgray;
}

.dots {
  background-image: linear-gradient(to right,#12232F 10%,transparent 0%);
  margin: 0 auto;
  background-position: top;
  background-size: 40px 4px;
  background-repeat: repeat-x;
  max-width: 23%;
}

.btn-front {
  display: inline-block;
  padding: 3px 8px;
  margin: 2px;
  background-color: var(--main-accent-color);
  opacity: var(--default-opacity);
  border: 1px solid white;
  color: white;
}

.btn-front:hover, .btn-front:focus, .btn-front:active, .btn-front.active, .open>.dropdown-toggle.btn-front {
  color: #fff;
  background-color: var(--main-accent-color);
  border-color: var(--main-accent-color);
  opacity: 1;
}

.icons-front {
  color: var(--main-accent-color);
  opacity: var(--default-opacity);
  padding: 10px;
}

.icons-front:hover, .icons-front:focus, .icons-front:active, .icons-front.active, .open>.dropdown-toggle.icons-front {
  color: var(--main-accent-color);
  opacity: 1;
}

.parallax {
  background-color: dimgray;
}

.btn-arrow {
  position: absolute;
  bottom: 20px;
  left: 50% - 10px;
  z-index: 2;
  display: inline-block;
  color: var(--main-accent-color);
  opacity: var(--default-opacity);
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

.btn-arrow:hover {
  color: var(--main-accent-color);
  opacity: 1;
}